In [1]:
import os
import shutil
import pandas as pd

In [2]:
df_adop = pd.read_csv('adoption/train_adoption.csv')
df_clean = pd.read_csv('cleaned-pawpularity/train_pawpularity.csv')

In [3]:
df_adop["Pawpularity"] = df_adop["AdoptionSpeed"].apply(lambda x: 25 * (4 - x))
df_adop = df_adop.rename(columns={'PetID': 'Id'})
df_adop.head(5)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Quantity,Fee,State,RescuerID,VideoAmt,Description,Id,PhotoAmt,AdoptionSpeed,Pawpularity
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,50
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,100
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,25
3,1,Miko,4,307,0,2,1,2,0,2,...,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,50
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,50

In [4]:
# df = pd.concat([df_clean[['Id', 'Pawpularity']], df_adop[['Id', 'Pawpularity']]])
# df.to_csv('train.csv', sep=str(','), index=False)

In [5]:
# path = "adoption/train"
# new_path = "adoption/new_train"
# files = os.listdir(path)

# for index, file in enumerate(files):
#     pieces = file.split('.')
#     if pieces[0].endswith('-1'):
#         new_file = pieces[0][:-2] + '.jpg'
#         os.rename(os.path.join(path, file), os.path.join(path, new_file))
#         shutil.move(os.path.join(path, new_file), os.path.join(new_path, new_file))

In [6]:
df = df_adop[['Id', 'Pawpularity']]
df

              Id  Pawpularity
0      86e1089a3           50
1      6296e909a          100
2      3422e4906           25
3      5842f1ff5           50
4      850a43f90           50
...          ...          ...
14988  dc0935a84           50
14989  a01ab5b30            0
14990  d981b6395           25
14991  e4da1c9e4            0
14992  a83d95ead           25

[14993 rows x 2 columns]

In [7]:
import os
path = 'adoption/train_images'
files = os.listdir(path)
data = []
for index, file in enumerate(files):
    name = file.split('.')[0].split('-')[0]
    score = df[df['Id'] == name]['Pawpularity'].values[0]
    # print(name, file, score)
    data.append([file, score])

In [8]:
df_new = pd.DataFrame(data, columns=['Id', 'Pawpularity'])
df_new

                    Id  Pawpularity
0      2d725d001-3.jpg           75
1      bf9bd91e1-1.jpg            0
2      9cb525274-3.jpg           50
3      16ffedcf8-7.jpg           25
4      a63364c39-1.jpg           75
...                ...          ...
58306  22c2f101e-2.jpg           25
58307  a93eb0d6f-1.jpg          100
58308  da7bed1f8-3.jpg           25
58309  d452218f1-1.jpg           50
58310  21fcd15c6-7.jpg           50

[58311 rows x 2 columns]

In [10]:
df_new.to_csv('train_new.csv', sep=str(','), index=False)